.bg-gradiant {
    background-image: linear-gradient(90deg, rgb(65, 61, 254), rgb(247, 42, 230));
}

.stop-writting {
    background-image: url("/img/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    height: 100vh;
}